<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [6]:
import pandas as pd
import numpy as np

<ipython-input-6-baf368f80de7>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [1]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [2]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [3]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [7]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [8]:
df.duplicated().sum()

154

## Removing duplicates

In [9]:
df.shape

(11552, 85)

Remove the duplicate rows from the dataframe.

In [10]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [11]:
print(df.duplicated().sum())
print(df.shape)
len(df['Respondent'])

0
(11398, 85)

11398

In [12]:
# Take a look into categories of employment
df['Employment'].value_counts()

Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64

In [20]:
# Take a look into categories of Undergraduate Major
df['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [31]:
# Take a look into categories of Education Level
df['EdLevel'].value_counts()

EdLevel
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              5852
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           2706
Some college/university study without earning a degree                                1361
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     516
Associate degree                                                                       383
Other doctoral degree (Ph.D, Ed.D., etc.)                                              259
Professional degree (JD, MD, etc.)                                                     154
I never completed any formal education                                                  28
Primary/elementary school                                                               27
Name: count, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [14]:
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [33]:
# Check if there is any missing values in Education Level
df['EdLevel'].isnull().sum()

112

In [34]:
# Check if there is any missing values in Country
df['Country'].isnull().sum()

0

Find out how many rows are missing in the column 'WorkLoc'

In [15]:
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [17]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
# The value that is most frequent (majority) in the WorkLoc column is Office, 
# which means that Office is the most frequent working location among all the respondents

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [18]:
# Replace missing values in WorkLoc with the most frequent value 'Office':
df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

<ipython-input-18-4e375a8c2a1b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [19]:
# Check if any missing values left in WorkLoc columns
df['WorkLoc'].isnull().sum()

0

In [20]:
# Check if any missing values left in ConvertedComp columns
df['ConvertedComp'].isnull().sum()

816

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [7]:
# List out the various categories in the column 'CompFreq'
df['CompFreq'].value_counts(dropna=False)

CompFreq
Yearly     6163
Monthly    4846
Weekly      337
NaN         206
Name: count, dtype: int64

In [22]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [25]:
df['CompFreq'].duplicated().sum()

11394

In [26]:
df['CompFreq'].drop_duplicates(inplace=True)

In [27]:
df['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [29]:
# Create a new column named 'NormalizedAnnualCompensation'
df['NormalizedAnnualCompensation']=np.where(df['CompFreq'] =='Yearly', df['CompTotal'],
                                                np.where(df['CompFreq'] =='Monthly',df['CompTotal']*12 , 
                                                np.where(df['CompFreq'] =='Weekly', df['CompTotal']*52, np.nan)))# Print to verify
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [18]:
import numpy as np

# Assuming df['CompTotal'] contains the total compensation value
# Normalize the compensation based on 'CompFreq'

def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return np.nan  # In case the frequency is something unexpected

# Apply the function to the DataFrame and create a new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Print to verify
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11552 rows x 3 columns]

In [30]:
# Find the median of Normalized Annual Compensation
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>